*{
    margin: 0%;
}

html{
    font-size: 62,5%
}

@font-face {
    font-family: Gruppo;
    src: url(Fonts/Gruppo-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

header{
    height:8rem;
    background-color: #83278F;
}

.flex-container-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 3rem;
}

.titulo{
    display: flex;
    font-family: Gruppo;
    font-size: 1.2rem;
    margin-top: 0.1rem;
}

.titulo h1{
    margin-left: 0.4rem;
    margin-top: 1rem;
    text-shadow: 0.2rem 0.2rem #CC78FF;
    text-decoration: double;
    margin-top: 1.8rem;
}

.logo{
    width: 7rem;
    height: 7rem;
}

.menu{
    font-family: Raleway;
    font-size: 1.2rem;
    padding-top: 3rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    font-size: 1.4rem;
}

.titulo1{
    background-color: #b3e77f;
    height: 5rem;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    font-size: 1.3rem;
    text-align: center;
    padding-top: 1.4rem;
}

.grid-container_1{
    display: grid;
    grid-template-columns: 20rem 80rem;
    grid-template-rows: 18rem
}

.flex-container{
    display: flex;
}

#datos{
    padding: 2rem;
}

#mensaje{
}

.grid-container_2{
    display: grid;
    grid-template-columns: 20rem 80rem;
    grid-template-rows: 18rem
}

.datos{
    background-color: #d398f8;
    font-family: Monserrat;
    height: 18.9rem;
}

.datos p{
    margin-left: 0.5rem;
    margin-top: 5rem;
}

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #d1f1b1;
    font-family: Yantra;
}

.datos_footer{
    margin-top: 1rem;
}

.horarios{
    text-align: center;
}

.redes{
    width: 3rem;
    height: 3rem;
}