*{
    margin: 0%;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f4f4f4;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

@font-face {
    font-family:Peralta;
    src: url(Fonts/Peralta-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Yantra;
    src: url(Fonts/Yantramanav-Regular.ttf);
}

/* ----- HEADER ----- */

.flex-container-nav{
    background-color: #8C377E;
    display: flex;
    justify-content: space-between;
    height: 12rem;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.titulo{
    display: flex;
    align-items: center;
    padding: 3rem;
}

.nombre{
    font-family: Peralta;
    color: white;
    -webkit-text-stroke: 0.01rem #41025c;
    text-shadow: 0.2rem 0.2rem #cc78ff;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: double;
    padding-left: 2rem;
}

.logo{
    width: 11rem;
    height: 11rem;
}

.menu{
    list-style: none;
    display: flex;
    margin-right: 3rem;
}

.menu li{
    border-radius: 2rem;
    margin: 0 0.5rem;
}

.menu li a{
    font-family: Raleway;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    font-size: 2.6rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    /* display: block; */
    color: #ffff;
}

.menu li:hover, li.activo{
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
}

.boton{
    color: #ffff;
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

ul.mostrar{
    top: 6.5rem;
}

@media screen and (max-width: 1300px) {
    .titulo{
        padding-left: 3rem;
    }
    .nombre{
        font-size: 2.6rem;
        padding-left: 1rem;
    }
    .menu li a{
        font-size: 2rem;
    }
}  

@media screen and (max-width: 1024px){
    .flex-container-nav{
        height: 6.5rem;
    }
    .boton{
        display: inline-flex;
    }
    .menu{
        position: fixed;
        width: 100vw;
        height: calc(100% - 6.5rem);
        background-color: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu li{
        margin: 3rem 0 0 0;
        line-height: 3rem;
    }

    .menu li:hover{
        background: none;
    }

    .menu li a{
        font-size: 2.5rem;
        color: #ffff;
        font-weight: bold;
    }

    .menu li a:hover{
        color: #CC78FF;
    }

    .titulo{
        padding-left: 3rem;
    }

    .nombre{
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    .logo{
        width: 6rem;
        height: 6rem;
    }
}

/* ----- MAIN ----- */

.titulo1{
    height: 8rem;
    color: #F29F05;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(201, 201, 201);
    font-size: 2rem;
    text-align: center;
    padding-top: 2.2rem;
}

.formulario{
    margin-left: 8rem;
    font-family: Raleway;
}


.formulario p{
    margin-left: 32rem;
    font-size: 2.4rem;
}

.grid-container_1{
    display: grid;
    grid-template-columns: 32rem 128rem;
    grid-template-rows: 28.8rem
}

.texto{
    font-size: 1.8rem;
    height: fit-content;
    padding-left: 3.2rem;
    line-height: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    padding-right: 4.8rem;
    border-color: #A449A6;
    border-width: 0.3rem;
    border-radius: 0.3rem;
    border-style: solid;
    background-color: #BF84B5;
    font-family: Monserrat;
    margin-left: 1.6rem;
    margin-top: 6.4rem;
}

.flex-container{
    display: flex;
}

#datos{
    padding: 0.2rem;
    line-height: 3.2rem;
    padding-left: 11.2rem;
    font-size: 1.5rem;
}

.labels{
    width: 16rem;
}

.labels-incorrecto{
    width: 16rem;
    color: red;
    border: red;
}

#mensaje{
    padding-left: 8rem;
    align-items: flex-end;
    font-size: 1.5rem;
}

#enviar{
    width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#F29F05;
}

.encontranos{
    height: 8rem;
    color: #F29F05;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(201, 201, 201);
    font-size: 2rem;
    margin-left: 8rem;
}

.grid-container_2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, auto);
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    min-height: 25rem;
}

#direccion{
    background-color: #d398f8;
    font-family: Monserrat;
}

#direccion p{
    padding: 8rem 3rem;
    font-size: medium;
}

#mapa{
    /* background-color: #a00; */
    grid-column-start: 2;
    grid-column-end: 4;
}

#mapa iframe{
    height: 100%;
    width: 100%;
}

/* ----- FOOTER ----- */

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Raleway;
    background-color: #F29F05;
    padding-bottom: 3.2rem;
}

.datos_footer{
    margin-top: 1.6rem;
}

.datos_footer p{
    text-align: center;
    font-size: 1.8rem;
}

.redes{
    width: 4.8rem;
    height: 4.8rem;
}

.fotos-redes{
    padding-left: 4rem;
}