*{
    margin: 0%;
}

html{
    font-size: 62,5%
}

@font-face {
    font-family: Gruppo;
    src: url(Fonts/Gruppo-Regular.ttf)
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Yantra;
    src: url(Fonts/Yantramanav-Bold.ttf);
}

header{
    height:8rem;
    background-color: #83278F;
}

.flex-container-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 3rem;
}

.titulo{
    display: flex;
    font-family: Gruppo;
    font-size: 1.2rem;
    margin-top: 0.1rem;
}

.titulo h1{
    margin-left: 0.4rem;
    margin-top: 1rem;
    text-shadow: 0.2rem 0.2rem #CC78FF;
    text-decoration: double;
    margin-top: 1.8rem;
}

.logo{
    width: 7rem;
    height: 7rem;
}


.menu{
    font-family: Raleway;
    font-size: 1.2rem;
    padding-top: 3rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    font-size: 1.4rem;
}

.seccion-1{
    background-color: #efdaf1;
    height: 4rem;
}

.seccion-1 h1{
    text-align: center;
    line-height: 3.5rem;
    font-family: Raleway;
    color: #83278F;
    text-shadow: 0.2rem 0.2rem rgb(214, 214, 214);
}

.flex-container-servicios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
}

.img-servicios{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.flex-container-clientes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
}

.clientes{
    height: 15rem;
    border-style: dotted;
    border-color: #d1f1b1;
}

#valores{
    text-align: center;
    background-color: #d1f1b1;
    height: 6rem;
    font-family: Monserrat;
    font-size: 1.5rem;
}

#valores a{
    line-height: 5.5rem;
    text-decoration: none;
    color: black;
}

#valores a:hover{
    font-size: 2rem;
    color: white;
}

.grid-container_2{
    display: grid;
    grid-template-columns: 20rem 80rem;
    grid-template-rows: 18rem
}

.datos{
    background-color: #d398f8;
    font-family: Monserrat;
    height: 18.9rem;
}

.datos p{
    margin-left: 0.5rem;
    margin-top: 5rem;
}

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:  #d1f1b1;
    font-family: Yantra;
}

.datos_footer{
    margin-top: 1rem;
}

.horarios{
    text-align: center;
}

.redes{
    width: 3rem;
    height: 3rem;
}