*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f4f4f4;
}

@font-face {
    font-family:Peralta;
    src: url(Fonts/Peralta-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Yantra;
    src: url(Fonts/Yantramanav-Bold.ttf);
}

/* ----- HEADER ----- */

.flex-container-nav{
    background-color: #8C377E;
    display: flex;
    justify-content: space-between;
    height: 7.5rem;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.titulo{
    display: flex;
    align-items: center;
    padding: 0 8rem;
}

.nombre{
    font-family: Peralta;
    color: white;
    -webkit-text-stroke: 0.01rem #41025c;
    text-shadow: 0.2rem 0.2rem #cc78ff;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: double;
    padding-left: 2rem;
}

.logo{
    width: 7rem;
    height: 7rem;
}

.menu{
    list-style: none;
    display: flex;
    margin-right: 3rem;
}

.menu li{
    border-radius: 2rem;
    margin: 0 0.5rem;
}

.menu li a{
    font-family: Raleway;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    font-size: 2.6rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    /* display: block; */
    color: #ffff;
}

.menu li:hover, li.activo{
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
}

.boton{
    color: #ffff;
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

ul.mostrar{
    top: 6.5rem;
}

@media screen and (max-width: 1300px) {
    .titulo{
        padding-left: 3rem;
    }
    .nombre{
        font-size: 2.6rem;
        padding-left: 1rem;
    }
    .menu li a{
        font-size: 2rem;
    }
}  

@media screen and (max-width: 1024px){
    .flex-container-nav{
        height: 6.5rem;
    }
    .boton{
        display: inline-flex;
    }
    .menu{
        position: fixed;
        width: 100vw;
        height: calc(100% - 6.5rem);
        background-color: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu li{
        margin: 3rem 0 0 0;
        line-height: 3rem;
    }

    .menu li:hover{
        background: none;
    }

    .menu li a{
        font-size: 2.5rem;
        color: #ffff;
        font-weight: bold;
    }

    .menu li a:hover{
        color: #CC78FF;
    }

    .titulo{
        padding-left: 3rem;
    }

    .nombre{
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    .logo{
        width: 6rem;
        height: 6rem;
    }
}


/* ----- MAIN ----- */

.seccion-1{
    background-color: #efdaf1;
    height: 6.4rem;
}

.seccion-1 h1{
    font-size: 3.5rem;
    text-align: center;
    line-height: 5.6rem;
    font-family: Raleway;
    color: #83278F;
    text-shadow: 0.2rem 0.2rem rgb(214, 214, 214);
}

.flex-container-servicios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 12.6rem;
    align-items: center;
    height: 19.2rem;
    /* background-color: red; */
}

/* #servicios-index{
    background-color: red;
    display: flex;
} */

.img-servicios{
    width: 14.4rem;
    height: 14.4rem;
    border-radius: 50%;
}

#iconos{
    transform: scale(1);
    transition: transform 0.5s ease;
}

#iconos:hover{
    transform: scale(1.2);
}

.flex-container-clientes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.6rem;
}

.clientes{
    height: 24rem;
    border-style: dotted;
    border-color: #F2B90C;
    border-width: 0.3rem;
    padding: 0.8rem;
}

#valores{
    text-align: center;
    background-color: #f29f05d2;
    height: 9.6rem;
    font-family: Monserrat;
    font-size: 2.4rem;
}

#valores a{
    line-height: 8.8rem;
    text-decoration: none;
    color: black;
}

#valores a:hover{
    font-size: 3.2rem;
    color: white;
}

.grid-container_2{
    display: grid;
    grid-template-columns: 32rem 128rem;
    grid-template-rows: 28.8rem;
}

.datos{
    background-color: #d398f8;
    font-family: Monserrat;
    height: 30rem;
}

.datos p{
    margin-left: 0.8rem;
    margin-top: 8rem;
}

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Raleway;
    background-color: #F29F05;
    padding-bottom: 3.2rem;
}

.datos_footer{
    margin-top: 1.6rem;
}

.datos_footer p{
    text-align: center;
    font-size: 1.8rem;
}

.redes{
    width: 4.8rem;
    height: 4.8rem;
}