*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f4f4f4;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

@font-face {
    font-family:Peralta;
    src: url(Fonts/Peralta-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Yantra;
    src: url(Fonts/Yantramanav-Bold.ttf);
}

/* ----- HEADER ----- */

.header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.flex-container-nav{
    background-color: #8C377E;
    display: flex;
    justify-content: space-between;
    height: 12rem;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.titulo{
    display: flex;
    align-items: center;
    padding: 3rem;
}

.nombre{
    font-family: Peralta;
    color: white;
    -webkit-text-stroke: 0.01rem #41025c;
    text-shadow: 0.2rem 0.2rem #cc78ff;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: double;
    padding-left: 2rem;
}

.logo{
    width: 11rem;
    height: 11rem;
}

.menu{
    list-style: none;
    display: flex;
    margin-right: 3rem;
}

.menu li{
    border-radius: 2rem;
    margin: 0 0.5rem;
}

.menu li a{
    font-family: Raleway;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    font-size: 2.6rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    /* display: block; */
    color: #ffff;
}

.menu li:hover, li.activo{
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
}

.boton{
    color: #ffff;
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

ul.mostrar{
    top: 6.5rem;
}

@media screen and (max-width: 1300px) {
    .header{
        z-index: 1;
    }

    .titulo{
        padding-left: 3rem;
    }
    .nombre{
        font-size: 2.6rem;
        padding-left: 1rem;
    }
    .menu li a{
        font-size: 2rem;
    }
}  

@media screen and (max-width: 1024px){
    .header{
        z-index: 1;
    }

    .flex-container-nav{
        height: 6.5rem;
    }
    .boton{
        display: inline-flex;
    }
    .menu{
        position: fixed;
        width: 100vw;
        height: calc(100% - 6.5rem);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu li{
        margin: 3rem 0 0 0;
        line-height: 3rem;
    }

    .menu li:hover{
        background: none;
    }

    .menu li a{
        font-size: 2.5rem;
        color: #ffff;
        font-weight: bold;
    }

    .menu li a:hover{
        color: #CC78FF;
    }

    .titulo{
        padding-left: 3rem;
    }

    .nombre{
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    .logo{
        width: 6rem;
        height: 6rem;
    }
}

/* ----- MAIN ----- */

.quienesSomos{
    height: 8rem;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    font-size: 2.4rem;
    margin-left: 20.8rem;
    padding-top: 2.2rem;
}

.quienesSomos h1{
    color: #F29F05;
}

.grid-container_1{
    display: grid;
    grid-template-columns: 72rem 16rem;
    grid-template-columns: repeat(auto-fit,minmax(64rem,1fr));
    align-items: center;
}

.grid-container_1 div p{
    margin-left: 6.4rem;
    text-align: center;
    margin-right: 3.2rem;
    font-family: Raleway;
    font-size: 2rem;
}

#perro{
    padding-left: 6.4rem;
    padding-right: 4.8rem;
    padding-top: 0.3rem;
}

#perro img{
    border-radius: 0.8rem;
}

.vision{
    background-color:#bb82df;
    height: 8rem;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(80, 79, 79);
    font-size: 2.4rem;
    text-align: center;
    padding-top: 2.2rem;
}

.grid-container_2{
    display: grid;
    grid-template-columns: 16rem 72rem;
    grid-template-columns: repeat(auto-fit,minmax(64rem,1fr));
    align-items: center;
    background-color: #d59cf8;
}

#doc{
    padding-left: 4.8rem;
    padding-right: 6.4rem;
    padding-top: 0.3rem;
}

#doc img{
    border-radius: 0.8rem;
}

.grid-container_2 div p{
    margin-left: 2.4rem;
    text-align: center;
    margin-right: 8rem;
    font-family: Raleway;
    font-size: 2rem;
}

/* ----- FOOTER ----- */

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Raleway;
    background-color: #F29F05;
    padding-bottom: 3.2rem;
}

.datos_footer{
    margin-top: 1.6rem;
}

.datos_footer p{
    text-align: center;
    font-size: 1.8rem;
}

.redes{
    width: 4.8rem;
    height: 4.8rem;
}

.fotos-redes{
    padding-left: 4rem;
}