*{
    margin: 0%;
}

html{
    font-size: 62,5%
}

@font-face {
    font-family:Peralta;
    src: url(Fonts/Peralta-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Yantra;
    src: url(Fonts/Yantramanav-Bold.ttf);
}

header{
    height:8rem;
    background-color: #8C377E;
}

.flex-container-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 3rem;
}

.titulo{
    display: flex;
    font-family: Peralta;
    font-size: 1.4rem;
    margin-top: 0.1rem;
}

.titulo h1{
    margin-left: 0.4rem;
    color: white;
    -webkit-text-stroke: 0.01rem #41025c;
    text-shadow: 0.2rem 0.2rem #CC78FF;
    text-decoration: double;
    margin-top: 1.1rem;
}

.logo{
    width: 7rem;
    height: 7rem;
}

.menu{
    font-family: Raleway;
    font-size: 1.2rem;
    padding-top: 3rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    font-size: 1.4rem;
}

.quienesSomos{
    height: 5rem;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    font-size: 1.5rem;
    margin-left: 13rem;
    padding-top: 1.4rem;
}

.quienesSomos h1{
    color: #F29F05;
}

.grid-container_1{
    display: grid;
    grid-template-columns: 45rem 10rem;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    align-items: center;
}

.grid-container_1 div p{
    margin-left: 4rem;
    text-align: center;
    margin-right: 2rem;
    font-family: Raleway;
}

#perro{
    padding-left: 4rem;
    padding-right: 3rem;
    padding-top: 0.2rem;
}

#perro img{
    border-radius: 0.5rem;
}

.vision{
    background-color:#bb82df;
    height: 5rem;
    font-family: Raleway;
    text-shadow: 0.2rem 0.2rem rgb(80, 79, 79);
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.4rem;
}

.grid-container_2{
    display: grid;
    grid-template-columns: 10rem 45rem;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    align-items: center;
    background-color: #d59cf8;
}

#doc{
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 0.2rem;
}

#doc img{
    border-radius: 0.5rem;
}

.grid-container_2 div p{
    margin-left: 1.5rem;
    text-align: center;
    margin-right: 5rem;
    font-family: Raleway;
}

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Raleway;
    background-color: #F29F05;
    padding-bottom: 2rem;
}

.datos_footer{
    margin-top: 1rem;
}

.horarios{
    text-align: center;
}

.redes{
    width: 3rem;
    height: 3rem;
}