*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #f4f4f4;
    max-width: 100% !important;
    overflow-x: hidden !important;
}


@font-face {
    font-family:Peralta;
    src: url(Fonts/Peralta-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Yantra;
    src: url(Fonts/Yantramanav-Bold.ttf);
}

/* ----- HEADER ----- */

.header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.flex-container-nav{
    background-color: #8C377E;
    display: flex;
    justify-content: space-between;
    height: 12rem;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.titulo{
    display: flex;
    align-items: center;
    padding: 3rem;
}

.nombre{
    font-family: Peralta;
    color: white;
    -webkit-text-stroke: 0.01rem #41025c;
    text-shadow: 0.2rem 0.2rem #cc78ff;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: double;
    padding-left: 2rem;
}

.logo{
    width: 11rem;
    height: 11rem;
}

.menu{
    list-style: none;
    display: flex;
    margin-right: 3rem;
}

.menu li{
    border-radius: 2rem;
    margin: 0 0.5rem;
}

.menu li a{
    font-family: Raleway;
    padding: 0.7rem 1.3rem;
    text-decoration: none  ;
    font-size: 2.6rem;
    text-shadow: 0.2rem 0.2rem rgb(134, 134, 134);
    color: #ffff;
}

.menu li:hover, li.activo{
    background-color: rgba(0, 0, 0, 0.3);
    transition: .4s;
}

.boton{
    color: #ffff;
    margin-right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

ul.mostrar{
    top: 6.5rem;
}



/********************/
/* ----- MAIN ----- */
/********************/

.seccion-1{
    background-color: #efdaf1;
    width: 100vw;
}

.seccion-1 h1{
    font-size: 3.5rem;
    text-align: center;
    /* line-height: 5.6rem; */
    font-family: Raleway;
    color: #83278F;
    text-shadow: 0.2rem 0.2rem rgb(214, 214, 214);
    padding: 1.8rem 0;
}

/* -----Servicios----- */
#servicios_margen{
    margin-top: 15rem;
}


.flex-container-servicios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 12.6rem;
    align-items: center;
    padding: 5rem 0;
}

#fondo{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255,0 , 255, 0.1);
    border-radius: 50%;
    top: 0;
    width: 14.4rem;
    height: 14.4rem;
    color: #fde6ff;
    opacity: 0;
    transform: scale(1);
    transition: all 0.5s ease;
}

#fondo p{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Raleway;
    text-shadow: 0 0 2px #83278F;    
}

.img-servicios{
    width: 14.4rem;
    height: 14.4rem;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.5s ease;
}

#servicios-index div:hover .img-servicios{
    transform: scale(1.2);
}

#servicios-index div:hover #fondo{
    transform: scale(1.2);
    opacity: 4;
}


/* ----- Clientes ----- */

.flex-container-clientes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.6rem;
}

#clientes{
    border-radius: 8%;
    height: 24rem;
    border-style: dotted;
    border-color: #F2B90C;
    border-width: 0.3rem;
    padding: 0.8rem;
}


/* ----- Conoce los valores de nuestra ... ----- */

#valores{
    text-align: center;
    background-color: #f29f05d2;
    height: 9.6rem;
    width: 100vw;
    font-family: Monserrat;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#valores a{
    text-decoration: none;
    color: black;
    transform: scale(1);
    transition: transform 0.2s ease;
}

#valores a:hover{
    color: white;
    transform: scale(1.2);

}

/* ----- Sorteo ----- */

.flex-sorteo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
.flex-sorteo div {
    border:#F2B90C 5px solid;
    border-radius: 8%;
}

.seccion-1 p{
    font-family: Yantra;
    font-size: 1.5rem;
}

/* ----- Sección mapa ----- */

.grid-container_2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, auto);
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    min-height: 25rem;
}

#datos{
    background-color: #d398f8;
    font-family: Monserrat;
}

#datos p{
    padding: 8rem 3rem;
    font-size: medium;
}

#mapa{
    /* background-color: #a00; */
    grid-column-start: 2;
    grid-column-end: 4;
}

#mapa iframe{
    height: 100%;
    width: 100%;
}

/* ----- FOOTER ----- */

.flex-container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Raleway;
    background-color: #F29F05;
    padding: 1rem 0 3.5rem 0;
    width: 100vw;
}

.datos_footer{
    margin-top: 1.6rem;
}

.datos_footer p{
    text-align: center;
    font-size: 1.8rem;
}

.redes{
    width: 4.8rem;
    height: 4.8rem;
}

.fotos-redes{
    padding-left: 4rem;
}


@media screen and (max-width: 1265px) {

    .header{
        z-index: 1;
    }

    .titulo{
        padding-left: 3rem;
    }
    .nombre{
        font-size: 2.6rem;
        padding-left: 1rem;
    }
    .menu li a{
        font-size: 2rem;
    }
    
    .seccion-1 h1{
        font-size: 3.5rem;
        line-height: 5rem;
        padding: 1rem 0;
    }

    /* servicios */
    #servicios_margen{
        margin-top: 15rem;
    }
    
    .flex-container-servicios{
        margin: 0 8.9rem;
        padding: 4.9rem 0;
    }
    
    #fondo{
        width: 13rem;
        height: 13rem;
    }
    
    #fondo p{
        font-size: 2.2rem;  
    }
    
    .img-servicios{
        width: 13rem;
        height: 13rem;
    }

    
    /* clientes */
    #clientes{
        height: 18rem;
    }
}  

@media screen and (max-width: 1010px){
    .header{
        z-index: 1;
    }

    .flex-container-nav{
        height: 6.5rem;
    }
    .boton{
        display: inline-flex;
    }
    .menu{
        position: fixed;
        width: 100vw;
        height: calc(100% - 6.5rem);
        background-color: rgba(7, 0, 19, 0.9);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        overflow-y: auto;
    }

    .menu li{
        margin: 3rem 0 0 0;
        line-height: 3rem;
    }

    .menu li:hover{
        background: none;
    }

    .menu li a{
        font-size: 2.5rem;
        color: #ffff;
        font-weight: bold;
    }

    .menu li a:hover{
        color: #CC78FF;
    }

    .titulo{
        padding-left: 3rem;
    }

    .nombre{
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    .logo{
        width: 6rem;
        height: 6rem;
    }

    .seccion-1 h1{
        font-size: 2.4rem;
        line-height: 5rem;
        padding: 0;
    }

    /* servicios */
    #servicios_margen{
        margin-top: 9rem;
    }
    
    .flex-container-servicios{
        margin: 0 6rem;
        padding: 3.5rem 0;
    }
    
    #fondo{
        width: 9rem;
        height: 9rem;
        margin: 0.3rem 0.3rem;
    }
    
    #fondo p{
        font-size: 1.5rem;  
    }
    
    .img-servicios{
        width: 9rem;
        height: 9rem;
        margin: 0.3rem 0.3rem;
    }

    
    /* clientes */
    #clientes{
        height: 12rem;
        margin: 0.2rem;
    }


    /* Mapa */
    .grid-container_2{
        gap: 2rem;
        width: 90%;
        margin: 2rem auto;
    }
    
    #datos{

    }
    
    #datos p{
        padding: 6rem 2rem;
        font-size: small;
    }
    
    #mapa{
        /* background-color: #a00; */
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #mapa iframe{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    .seccion-1 h1{
        font-size: 2.2rem;
        line-height: 4.5rem;
    }

    /* servicios */
    #servicios_margen{
        margin-top: 8.5rem;
    }
    
    .flex-container-servicios{
        margin: 0 3.5rem;
        padding: 2.4rem 0;
    }
    
    #fondo{
        width: 8rem;
        height: 8rem;
        margin: 0.3rem 0.3rem;
    }
    
    #fondo p{
        font-size: 1.5rem;  
    }
    
    .img-servicios{
        width: 8rem;
        height: 8rem;
        margin: 0.3rem 0.3rem;
    }

    
    /* clientes */
    #clientes{
        height: 12rem;
        margin: 0.2rem;
    }
}